{% load static %}
<html>
    <head>
        <title>OAFC </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/players.css' %}"> 
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'team_list' %}">Teams<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'player_list' %}">Players</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage'%}?next={request.path}">Manage Team</a>
                        <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}"> Logout</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>  
                    </li>
                    {% endif %} 
                    </li>                   
                </ul>
            </div>
        </nav>
        <div class="page-header">
            <h1>OAFC Fantasy Football</h1>
        </div>    
            {% block content %}
            {% endblock %}
    </body>
</html>